@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";

.whole-page {
   background-color:  #161616;
   font-family: Raleway, sans-serif;
}

.container-fluid {
   max-width: 85%;
   margin: auto;

}

a.navbar-brand {
   font-size: 18px;
   font-family: Raleway, sans-serif;
}

.about-us-section {
   padding-top: 5%;
   max-width: 96%;
   margin: auto auto 5%;
}

h2.about-us-number {
   font-size: 45px;
}

.about-us-line {
   background: #F8DA64;
   width: 47px;
   display: inline-block;
   height: 4px
}

.about-heading {
   color: ivory;
}

.aboutus-content {
   color: #d9d9d9;
   max-width: 80%;
   line-height: 31px;
}

.indicator {
   color: #f8da63;
}

p.number-label {
   font-weight: 100;
   margin-top: 15px;
}

p.hr-line {
   width: 76%;
   margin: auto;
   display: block;
   height: 1px;
   background: #fff;
   margin-bottom: 6%;
}

.about-us-content {
   margin-bottom: 62px;
}

.team-mates-group-1 {
   margin-bottom: 5%;
}

.team-block {
   position: relative;
}

.team-member {
   position: absolute;
   top: 76px;
   left: 48px;
}

.secondary-heading {
   font-size: 22px;
   margin-bottom: 2px;
}

.work-name {
   font-size: 13px;
}

.team-mates-group-2 {
   margin-bottom: 4%;
   padding-bottom: 7%;
}  
button.btn-button {
   margin-left: 57%;
   background: #f8da64;
   border: 1px solid #f8da64;
   border-radius: 7px;
   padding: 5px 15px;
   border: 1px solid #F8DA64;;
   background: #212121;
   color: #f8da64;
 } 
.btn-button:hover{ 
   background-color:  #f8da64; 
   color:#212121 ; 
}

.footer-section {
   background-image: url( "/assets/footer-bg.cc00989cacc2122a.svg");
   background-size: cover;
   padding: 7% 7% 5%;
} 

div.contact-info p,
div.contact-info a {
  color: #0b7077;
  text-decoration: none;
} 

.address-section {
   color: #000;
   font-weight: 300;
}

a.links-names {
   color: #000;
}

.links-heading a {
   color: #000;
   font-weight: 300;
}

.courses-list a {
   color: #000;
   font-weight: 300;
} 



@media only screen and (max-width: 575px){

img.image-fluid.team-image {
   margin-top: 8%; 
   margin-left: 4%;
} 
} 
 
@media only screen and (max-width: 768px){
img.image-fluid.team-image {
   margin-top: 7%; 
} 
}