@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"; 
 
 .whole-page {
 background-color: #161616;   
 font-family: Raleway, sans-serif;
} 
.container-fluid {
 color: white;
 text-transform: capitalize;
 justify-content: space-between;
 max-width: 85%;
 margin: auto;

}

a.navbar-brand {
 font-size: 18px;
} 
.popular-filter-section {
 display: flex;
 justify-content: center;
 margin-top: 7%;
}
.course-filter-item {
 color: #fff;
 border-color: #624bff;
 color: #818c96;
 border: 1px solid #C4C4C4;
 border-radius: 4px;
 margin-right: 26px;
 padding: 5px 20px;
 font-size: 13px;
 cursor: pointer;
}

.course-filter-item:hover {
 background-color: #624bff;
 color: #fff;
 border-color: #624bff;
} 


.content-of-card {
  color: #d9d9d9;
  font-weight: 100;
  margin-bottom: 16px;
  font-size: 14px;
  height: 124px;
}

p.title-of-domain {
  padding-top: 28px;
  padding-left: 2px;
}
.each-card-content {
  background:#212121;
  position: relative;
  border-radius: 0 0 12px 12px; 
  padding: 22px 10px 10px;
} 
.each-card-enrolled {
  padding: 10px; 
  padding: 8px;
  max-width: 80%; 
  position: absolute; 
  top: -24px;
  left: 42px;
}

button.btn-button {
  margin-left: 57%;
  background: #f8da64;
  border: 1px solid #f8da64;
  border-radius: 7px;
  padding: 5px 15px;
  border: 1px solid #F8DA64;;
  background: #212121;
  color: #f8da64;
} 
.btn-button:hover{ 
background-color:  #f8da64; 
color:#212121 ;
}
 footer.footer-section {
  background-image: url("/assets/footer-bg.cc00989cacc2122a.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.contact-info p,
div.contact-info a {
  color: #0b7077;
  text-decoration: none;
}


